[alias]
	pl = log --oneline --graph --decorate
	l = log --stat --graph --decorate --abbrev-commit --date=relative

[color]
	ui = auto

[core]
	excludefiles = ~/.gitignore_global

[push]
	default = simple

[include]
	path = .gitconfig.local
